.experience {
	min-height: 300px;
}

.experience p {
	text-align: left;
}

.experience ul {
	text-align: center;
	display: table;
    table-layout: fixed;
    list-style-type: none;
	margin: 0;
    padding: 0;
    width: 100%;
}

.experience ul li {
	display: table-cell;
}

.experience ul li:not(:nth-child(2)) {
     width: 20%;
}

.experience a {
	font-weight: bold;
	color: blue;
}