/* Header Wrap */
.header {
	background: url(../images/header-bg.jpg) no-repeat center top;
	padding: 70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header h1 {
	font-weight: bold;
	margin: 0px 150px;
	padding: 25px;
	font-size: 100px;
	color: white;
	background: rgba(0,0,0,0.3);
}

.header ul {
	display: inline-block;
    list-style-type: none;
    margin: 20px;
    padding: 0;
	margin-bottom: -50px;
}

.header ul li {
	float: left;
}

.header li a {
	text-decoration: none;
	display: block;
    font-weight: bold;
	padding: 25px;
	font-size: 20px;
	color: white;
	background: rgba(0,0,0,0.3);
}

.header li a:hover {
    background-color: rgba(0,0,0,0.8);
}