.index {
  padding: 50px;
  min-height: 300px;
}

.index h1 {
	font-weight: bold;
	margin: 0px 50px;
	font-size: 60px;
}

.index p {
	line-height: 28px;
	margin: 25px 50px;
	padding-right: 400px;
}

.index img {
	border: 5px solid white;
}