.project {
	 min-height: 300px;
	 
}

.project p {
	text-align: left;
}

.project ul {
	text-align: center;
	display: table;
    table-layout: fixed;
    list-style-type: none;
	margin: 0;
    padding: 0;
    width: 100%;
}

.project ul li {
	display: table-cell;
    *float: left;
}

.project a {
	font-weight: bold;
	color: #cc33ff;
}


.project ul li:not(:nth-child(3)) {
     width: 15%;
}